<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <system.web>
    <httpModules>
        <remove name="URLRewrite"/>
        <add name="BasicAuthenticationModule" type="GCheckout.Util.BasicAuthenticationModule,GCheckout"/>
    </httpModules> 
  </system.web>
  <appSettings>
    <add key="NotificationStore" value="D:\webs\teststore\ordersprocessing\xml\" />
    <add key="GoogleMerchantID" value="147102785425216" />
    <add key="GoogleMerchantKey" value="X7aULtfa3VUZ2gfjv-8NIQ" />
  </appSettings>
</configuration>
