/* DEFAULT */
body{font-family:verdana;font-size:11px;color:#666666;margin:5px;background:#ffffff}
td{font-family:verdana;font-size:11px;color:#666666}
a:link{color:#777777}
a:visited{color:#777777}
a:hover{color:#111111}
li{line-height:19px}
.highlight{color:Red}
